ul {
  list-style: none;
  padding: 0;
}

input, select, button {
  border: none; 
}

button, option, select {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Pour Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Pour tous les navigateurs, pour s'assurer que le style est appliqué */
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}